@font-face {
    font-family: RINGM___;
    src: url('/fonts/RINGM___.TTF');
}
@font-face {
    font-family: Oswald;
    src: url('/fonts/Oswald.ttf');
}
body {
    background-color: #a2aac4;
    margin: 0;
}

section-about-me{
    text-align: left;
}

section-portfolio{
    text-align: left;
}



/* Title */
.image-container img {
    height: auto;
    display: block;

}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

div.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }
  
  div.scroll-container img {
    /*58% of the The image sizes (900x600)*/
    max-width: 348px;
    max-height: 522px;
    align-self: center;
    padding: 10px;
  }

ul {
    margin: 0;
    padding: 0;
    list-style-type: none; 
    
}

li {
    display: inline-block;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    
}
/* General Text */
 h1 {
  flex: 1; /* Allow the h1 text to take up remaining space */
  padding-left: 50px; /* Add some padding */
  padding-right: 50px;
  color: white; 
  font-size: 14px;
  margin: 0;
} 

/* Titles */
h2 {
    color: white;
    text-align: left;
    padding-left: 50px; 
    padding-right: 50px; 
    font-size: 36px; 
    font-family: Oswald; 
    src: url('/fonts/Oswald.ttf');
    text-decoration: underline; 
    margin: 0;
}

/* Nav */ /* this is kinda used randomly somethimes so dont fuck with it */
h3 {
    color: white;
    text-align: center;

}

/* Fine Print */
h5 {
    text-align: center;
    font-size: 14px;
}

nav {
    padding-left: 40px;
    padding-right: 40px;
    background-color: black;
    flex-direction: row;
    display: flex;
    justify-content: center;
    position: sticky;
    position: -webkit-sticky; /* Safari support */
    top: 0px; 
    font-family: RINGM___; 
    font-size: 20px;
    src: url('/fonts/RINGM___.TTF')"
}

/* mobile view */
@media only screen and (max-device-width: 500px)
{
  /* need to fix the title & the sticky nav */
  html, body {
      max-width: 100%;
      overflow-x: hidden;
  }
  .center
  {
      width: 100%;
  }
  h2 { 
      padding-left: 20px;
      padding-right: 20px;
      font-size: 26px;
      text-align: center;
  }
  h1 {
      padding-left: 10px;
      padding-right: 10px;
  }

  h4 {
    font-size: small;
    
  }

  h5 {
    font-size: x-small;
  }

  h6 {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 10px;
    text-align: center;
  
  }

  nav {
      font-size: 14px;
      padding-left: 10px;
      padding-right: 10px;
  }
  
  .flex-container {
      padding-right: 20px;
      display: block;
}

 /* Adjust the slideshow container size */
 .slideshow-container {
  max-width: 100%; /* Make the slideshow take the full width */
  padding-left: 20px; /* Reduce padding for mobile */
}

/* Adjust the size of the slideshow images */
.mySlides img {
  width: 100%; /* Make images take the full width of the container */
  height: auto; /* Maintain aspect ratio */
}

/* Adjust the size of the dots */
.dot {
  width: 20px; /* Smaller dots for mobile */
  height: 20px; /* Smaller dots for mobile */
  margin: 0 2px; /* Adjust spacing between dots */
}

/* Adjust the position and size of the number text */
.numbertext {
  font-size: 10px; /* Smaller font size for mobile */
  padding: 5px 8px; /* Adjust padding */
}

.image-container
{
  size: 10%;
}

/* Adjust the dots container */
.dots-container {
  padding: 5px 0; /* Reduce padding for mobile */
}


.video-embed-div {
      width: 80%;
      height: auto;
  
}
}
