@font-face {
    font-family: RINGM___;
    src: url('/fonts/RINGM___.TTF');
}
@font-face {
    font-family: Oswald;
    src: url('/fonts/Oswald.ttf');
}
body {
    background-color: #a2aac4;
    margin: 0;
}

section-about-me{
    text-align: left;
}

section-portfolio{
    text-align: left;
}



/* Title */
.image-container img {
    height: auto;
    display: block;

}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

div.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }
  
  div.scroll-container img {
    /*58% of the The image sizes (900x600)*/
    max-width: 348px;
    max-height: 522px;
    align-self: center;
    padding: 10px;
  }

ul {
    margin: 0;
    padding: 0;
    list-style-type: none; 
    
}

li {
    display: inline-block;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    
}
/* General Text */
 h1 {
    padding-left: 50px; 
    padding-right: 50px;
    color: white; 
    font-size: 27px; margin: 0;
} 

/* Titles */
h2 {
    color: white;
    text-align: left;
    padding-left: 50px; 
    padding-right: 50px; 
    font-size: 36px; 
    font-family: Oswald; 
    src: url('/fonts/Oswald.ttf');
    text-decoration: underline; 
    margin: 0;
}

/* Nav */ /* this is kinda used randomly somethimes so dont fuck with it */
h3 {
    color: white;
    text-align: center;

}

/* Fine Print */
h5 {
    text-align: center;
    font-size: 14px;
}

nav {
    padding-left: 40px;
    padding-right: 40px;
    background-color: black;
    flex-direction: row;
    display: flex;
    justify-content: center;
    position: sticky;
    position: -webkit-sticky; /* Safari support */
    top: 0px; 
    font-family: RINGM___; 
    font-size: 20px;
    src: url('/fonts/RINGM___.TTF')"
}

/* Mobile Responsive Media Queries */
@media only screen and (max-device-width: 500px)
{
    /* need to fix the title & the sticky nav */
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }
    .center
    {
        width: 100%;
    }
    h2 { 
        padding-left: 20px;
        padding-right: 20px;
        font-size: 26px;
    }
    h1 {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 22px;
    }
    nav {
        font-size: 16px;
        padding-left: 10px;
        padding-right: 10px;
    }
}